*{
    margin: 0;
    width: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/bg-pattern-bottom.svg);
    
}

.card-container {
    position: absolute;
    margin: auto;
    height: 360px;
    width: 348px;
    border-radius: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;   
    background-color: rgb(255, 255, 255); 
    

}

.name {
    position:absolute ;
    margin: auto;
    height: 60px;
    width: 348px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    font-family: 'Kumbh Sans', sans-serif;



}

.name h2 {
    width: 230px;
    height: 30px;
    font-size: 18px;
    position:absolute;
    left: 110px;
    top: 55px;



}

.name p {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 90px;
    left: 150px;
    text-align: center;
    font-family: 'Kumbh Sans', sans-serif; color: rgb(114, 110, 110);
    
}

.info {
    width: 220px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 45px; 
    font-family: 'Kumbh Sans', sans-serif;  

}


.info h2 {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;

}


.info p {
    font-size: 11px;
    font-family: 'Kumbh Sans', sans-serif; color: rgb(114, 110, 110); 

}

.imagem-top {
    width: 348px;
    height: 200px;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    background-image: url(/images/bg-pattern-card.svg);
    background-repeat: no-repeat;

    
}

.line {
    width: 348px;
    border: 1px solid rgb(241, 240, 240);
    position: absolute;
    bottom: 75px;

}


.profile-photo{
    width: 104px;
    height: 104px;
    border-radius: 100px;
    border: solid 5px rgb(255, 255, 255);
    background-image: url(/images/image-victor.jpg);
    position: absolute;
    left: 120px;
    right: 130px;
    top: 85px;
}

    


